body {
    font-family: 'Inter', sans-serif;
    background-color: #111827;
    background-image:
        radial-gradient(at 0% 0%, hsla(0, 0%, 100%, 0.05) 0px, transparent 50%),
        radial-gradient(at 100% 0%, hsla(0, 84%, 45%, 0.1) 0px, transparent 50%);
}
.loader {
    border-top-color: #DC2626;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}
@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.input-field:focus {
    box-shadow: 0 0 0 2px rgba(220, 38, 38, 0.2);
}